@font-face {
  font-family: "Bungee";
  src: url("/src/assets/fonts/Bungee-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.anime-details-page {
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .anime-details-page {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .anime-details-page {
    padding: 1.5rem 3rem;
  }
}
.anime-details-page__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  background: rgba(30, 30, 30, 0.1);
  -webkit-backdrop-filter: blur(0.625rem);
          backdrop-filter: blur(0.625rem);
  border-radius: 0.75rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.625rem rgba(255, 209, 102, 0.2);
}
.anime-details-page__wrapper:hover {
  transform: scale(1.02) translateY(-0.3125rem);
  box-shadow: 0 0.375rem 0.9375rem rgba(255, 71, 126, 0.3);
}
.anime-details-page__wrapper {
  box-shadow: 0 0.625rem 0.9375rem rgba(255, 71, 126, 0.3);
  cursor: auto;
}
.anime-details-page__wrapper:hover {
  transform: none;
  box-shadow: 0 0.625rem 0.9375rem rgba(255, 71, 126, 0.3);
}
@media screen and (min-width: 768px) {
  .anime-details-page__wrapper {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .anime-details-page__wrapper {
    width: calc(100% - 3rem);
  }
}

.anime-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .anime-header {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .anime-header {
    padding: 1.5rem 3rem;
  }
}
.anime-header {
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .anime-header {
    flex-direction: row;
  }
}
.anime-header__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.anime-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .anime-info {
    padding-top: 0;
  }
}
.anime-info__title {
  color: #FF477E;
  padding: 0.25rem 0;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@media screen and (min-width: 768px) {
  .anime-info__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .anime-info__title {
    padding-top: 0;
  }
}

.anime-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.25rem 0;
}
.anime-meta__badge {
  padding: 0.5rem;
  border-radius: 0.625rem;
  background-color: #292929;
}
.anime-meta__badge:hover {
  background-color: #FFD166;
  color: #1A1A1A;
}

.anime-buttons {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}
.anime-buttons__button {
  padding: 0.5rem;
  background-color: #FF477E;
  color: #F5F5F5;
  font-weight: 700;
  border-radius: 0.3125rem;
  cursor: pointer;
}
.anime-buttons__button:hover {
  background-color: #FFD166;
  color: #1A1A1A;
}
.anime-buttons__button--disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.anime-buttons__button--disabled:hover {
  background-color: #FF477E;
  color: #F5F5F5;
}

.anime-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.anime-description__synopsis-title {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #FFD166;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .anime-description__synopsis-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .anime-description__synopsis-title {
    padding-top: 1rem;
  }
}

.anime-genres {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.anime-genres__badge {
  padding: 0.5rem;
  border-radius: 0.625rem;
  background-color: #292929;
}
.anime-genres__badge:hover {
  background-color: #FFD166;
  color: #1A1A1A;
}

.anime-details {
  display: flex;
  flex-direction: column;
}
.anime-details__title {
  padding-bottom: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #FFD166;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .anime-details__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
.anime-details__text-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.anime-trailer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
.anime-trailer__title {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #FFD166;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .anime-trailer__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}/*# sourceMappingURL=AnimeDetailsPage.css.map */