@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;


.anime-details-page {
   @include page-layout;

   @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;
   }

   &__wrapper {
    display: flex;
    flex-direction: column;
    padding: $spacing-mobile;

    @include card-style;
    &{
        box-shadow: 0px 10px 15px rgba($primary-accent-color, 0.3);
        cursor: auto;
        
        &:hover {
            transform: none;
            box-shadow: 0px 10px 15px rgba($primary-accent-color, 0.3);
        }
    }

    @include tablet {
        padding: $spacing-tablet;
    }

    @include desktop {
        width: calc(100% - $spacing-desktop);
    }
   }
}

.anime-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: $spacing-mobile 0;
    
    @include tablet {
        flex-direction: row;
    }
    &__image { 
       object-fit: cover;

       @include tablet {
            
       }
    }
}

.anime-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: $spacing-mobile 0;

    @include tablet {
        padding-top: 0;
    }

    &__title {
        color: $primary-accent-color;
        padding: 0.25rem 0;
        @include h2-style;

        @include tablet {
            padding-top: 0;
        }
    }
}

.anime-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0.25rem 0;
    &__badge {
        @include badge-style;
    }
}

.anime-buttons {
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
    &__button {
        @include button-style;
    }
}

.anime-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__synopsis-title {
        @include h3-style;
        @include tablet {
            padding-top: 1rem;
        }
    }
}

.anime-genres {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    &__badge {
        @include badge-style;
    }
}

.anime-details {
    display: flex;
    flex-direction: column;

    &__title {
        padding-bottom: 1rem;
        @include h3-style;
    
    }

    &__text-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

    }
}

.anime-trailer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    &__title {
        @include h3-style;
    }
}

