
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.mood-grid {
    display: grid;
    gap: 1rem;

    grid-template-columns: 1fr;
    grid-auto-rows: min-content;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);

    }

    @include desktop {
        grid-template-columns: repeat(4, 1fr);
    }
}

.mood-card {
    display: flex;
    flex-direction: column;
    // grid-template-columns: 100px 1fr;
    gap: 1rem;
    padding-top: 1rem;
    align-self: flex-start;
    @include card-style;

    @include tablet {}

    &__context {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__emoji {
        font-size: 32px;
    }

    &__name {
        font-weight: 500;
        color: $secondary-accent-color;
        @include h3-style;
        // font-size: 32px;
    }

    &__description {
        text-align: center;
    }
}

.genre-section {
    padding: 1rem;
    @include divider-line;

    &__title {
        @include h3-style;
        &{
            color: $primary-accent-color;
            text-transform: uppercase;
        }
    }

}