@use "./variables" as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin h1-style {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: $highlight-color;

    @include tablet {
        font-size: 32px;
        line-height: 40px;
    }
}

@mixin h2-style {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    @include tablet {
        font-size: 24px;
        line-height: 32px;
    }
}

@mixin page-layout {
    padding: 1rem $col-spacing-mobile;

    @include tablet{
        padding: 1.5rem $col-spacing-tablet;
    }

    @include desktop {
        padding: 1.5rem $col-spacing-desktop;
    }
}

@mixin button-style {
    padding: 0.5rem;
    background-color: $cta-color;
    font-weight: $bold;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $accent-color;
        color: $text-color-light-bg;
    }
}

@mixin card-style {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba($accent-color, 0.2);

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 6px 15px rgba($highlight-color, 0.3);
    }
}