@use "./variables" as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin h1-style {
    font-family: "Bungee", sans-serif;
    font-weight: $regular;
    font-size: 1.75rem;
    line-height: 2.25rem;
    color: $primary-accent-color;

    @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

@mixin h2-style {
    font-family: "Bungee", sans-serif;
    font-weight: $regular;
    font-size: 1.25rem;
    line-height: 1.75rem;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@mixin h3-style {
    font-family: "Nunito", sans-serif;
    font-weight: $bold;
    color: $secondary-accent-color;
    font-size: 1.125rem;
    line-height: 1.5rem;

    @include tablet {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

@mixin page-layout {
    padding: $spacing-mobile;

    @include tablet{
        padding: $spacing-tablet;
    }

    @include desktop {
        padding: 1.5rem $spacing-desktop;
    }
}

@mixin button-style {
    padding: $spacing-mobile-half;
    background-color: $cta-color;
    color: $primary-text;
    font-weight: $bold;
    border-radius: 0.3125rem;
    cursor: pointer;

    &:hover {
        background-color: $secondary-accent-color;
        color: $text-color-light-bg;
    }
}

@mixin card-style {
    background: rgba($secondary-bg, 0.1);
    backdrop-filter: blur(0.625rem);
    border-radius: $border-radius-large;
    transition: transform $animation-duration ease, box-shadow $animation-duration ease;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.625rem rgba($secondary-accent-color, 0.2);

    &:hover {
        transform: scale(1.02) translateY(-0.3125rem);
        box-shadow: 0 0.375rem 0.9375rem rgba($primary-accent-color, 0.3);
    }
}

@mixin divider-line {
    border-top: 0.15rem solid $line-divider-color;
}

@mixin badge-style {
    padding: $spacing-mobile-half;
    border-radius: $border-radius-medium;
    background-color: $tag-color;

    &:hover {
        background-color: $secondary-accent-color;
        color: $text-color-light-bg;
    }
}

@mixin main-wrapper-layout {
    display: flex;
    flex-direction: column;
    padding: 0 $spacing-mobile;
}

@mixin section-layout {
    display: flex;
    flex-direction: column;
    gap: $spacing-mobile;
    @include page-layout;
}