$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$primary-bg: #1A1A1A;
$primary-text: #F5F5F5;
$primary-accent-color: #FF477E;
$cta-color: #FF477E;
$secondary-accent-color: #FFD166;
$text-color-light-bg: #1A1A1A;
$secondary-bg: #1E1E1E;
$line-divider-color: #292929;
$tag-color: #292929;
$muted-text-color: #C4C4C4;

$spacing-mobile: 1rem;
$spacing-tablet: 1.5rem;
$spacing-desktop: 3rem;
