$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$primary-bg: #1A1A1A;
$primary-text: #F5F5F5;
$highlight-color: #FF477E;
$cta-color: #FF477E;
$accent-color: #FFD166;
$text-color-light-bg: #1A1A1A;
$secondary-bg: #3B4252;

$col-spacing-mobile: 1rem;
$col-spacing-tablet: 1.5rem;