@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.hero {
  background-color: black;
  width: 100vw;
  height: 31.25rem;

  display: flex;
  flex-direction: column;
  gap: $spacing-mobile;
  overflow: hidden;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    gap: $spacing-tablet;
    padding-top: 0;
    padding-bottom: 0;
    height: 37.5rem;
  }

  @include desktop {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__text-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: $spacing-mobile;
    padding: 2rem $spacing-mobile;

    @include tablet {
      gap: $spacing-tablet;
      padding: 6rem 0 6rem $spacing-tablet;
    }
    @include desktop {
      padding-left: $spacing-desktop;
    }
  }

  &__title {
    color: $primary-accent-color;
    text-shadow: 0.1875rem 0.1875rem 0.3125rem rgba($primary-accent-color, 0.6);
    @include h1-style;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: $spacing-mobile;

    @include tablet {
      width: 80%;
      gap: $spacing-tablet;
    }

    @include desktop {
      width: 60%;
    }
  }

  &__button {
    align-self: flex-end;
    @include button-style;

    @include tablet {
      align-self: flex-start;
    }
  }
}
