@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.search-tv {
    @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: $spacing-mobile;
        
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: $spacing-mobile;
        padding-top: $spacing-mobile;
        @include divider-line;
        @include page-layout;

        @include tablet {
            gap: $spacing-tablet;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        gap: $spacing-mobile;

        @include tablet {
            gap: $spacing-tablet;
            width: 80%;
        }
    }

    &__description {
        color: $muted-text-color;
        align-self: center;
        font-size: 12px;
        line-height: 14px;

        @include tablet {
            font-size: 14px;
            line-height: 16px;
        }
    }

}