@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.select-mood {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        color: $highlight-color;
        @include h2-style;
    }

}

.selected {
    // border-top: 0.15rem solid $line-divider-color;
    padding-top: 1rem;
    @include page-layout;
    @include divider-line;

    &__back-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.25rem;
    }

    &__back-icon {
        width: 24px;
        height: 24px;
        fill: $highlight-color;
    }

}