@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__form {
        display: flex;
        flex-direction: column;
        gap: $spacing-mobile;
        width: 90%;

        @include tablet{
            max-width: 18.75rem;
            gap: $spacing-tablet
        }

    }

    &__input-wrapper {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__icon {
        fill: $secondary-accent-color;
        height: 1rem;
        width: 1rem;
        position: absolute;
        left: 0.625rem;
        top: 25%;

        @include tablet {
            height: 1.5rem;
            width: 1.5rem;
            left: 0.5625rem;
        }
    }

    &__input {
        border: none;
        outline: none;
        background-color: $secondary-bg;
        color: $primary-text;
        padding: $spacing-mobile-half;
        padding-left: 2rem;
        border-radius: 3.125rem;
        width: 100%;
        font-size: inherit;
        box-shadow: 0 0.25rem 0.5rem rgba($secondary-accent-color, 0.2);

        @include tablet {
            padding: 0.65rem;
            padding-left: 2.5rem;
            font-size: inherit;
        }

        &::placeholder {
            color: $muted-text-color;
            font-size: 0.75rem;

            @include tablet {
                font-size: 0.875rem;
            }
        }

        &:active,
        &:focus {
            box-shadow: 0 0.25rem 0.5rem rgba($primary-accent-color, 0.2);
        }

    }

    &__button {
        color: $primary-text;
        border: none;
        font-size: inherit;
        @include button-style;
    }

}