@font-face {
  font-family: "Bungee";
  src: url("/src/assets/fonts/Bungee-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -55%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.mal-model__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(26, 26, 26, 0.6);
  -webkit-backdrop-filter: blur(0.75rem);
          backdrop-filter: blur(0.75rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.mal-modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #1A1A1A;
  border-radius: 1rem;
  padding: 2rem;
  width: 90%;
  max-width: 28.125rem;
  box-shadow: 0 0.625rem 1.5625rem rgba(26, 26, 26, 0.3);
  position: fixed;
  z-index: 10000;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.3s ease-in-out;
}
.mal-modal__cancel-svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #F5F5F5;
  cursor: pointer;
}
.mal-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF477E;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: -2rem -2rem 1rem -2rem;
}
.mal-modal__title {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@media screen and (min-width: 768px) {
  .mal-modal__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.mal-modal__title {
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}
.mal-modal__description {
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .mal-modal__description {
    font-size: 1rem;
  }
}
.mal-modal__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mal-modal__input {
  width: 100%;
  padding: 1rem;
  border: none;
  font-size: inherit;
  background-color: #1E1E1E;
  color: #F5F5F5;
  box-shadow: 0 0.25rem 0.5rem rgba(255, 209, 102, 0.2);
}
.mal-modal__input::-moz-placeholder {
  color: #C4C4C4;
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.mal-modal__input::placeholder {
  color: #C4C4C4;
  font-size: 0.75rem;
  line-height: 0.875rem;
}
@media screen and (min-width: 768px) {
  .mal-modal__input::-moz-placeholder {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .mal-modal__input::placeholder {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
.mal-modal__input:active, .mal-modal__input:focus {
  box-shadow: 0 0.25rem 0.5rem rgba(255, 71, 126, 0.2);
}
.mal-modal__buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.mal-modal__button {
  border: none;
  padding: 0.5rem;
  background-color: #FF477E;
  color: #F5F5F5;
  font-weight: 700;
  border-radius: 0.3125rem;
  cursor: pointer;
}
.mal-modal__button:hover {
  background-color: #FFD166;
  color: #1A1A1A;
}
.mal-modal__button--cancel {
  background-color: #C4C4C4;
  color: #1A1A1A;
}
.mal-modal__button--cancel:hover {
  background-color: #1E1E1E;
  color: #F5F5F5;
}
.mal-modal__divider {
  padding-top: 1rem;
  color: #C4C4C4;
  border-top: 0.15rem solid #292929;
}
.mal-modal__footer {
  color: #C4C4C4;
}/*# sourceMappingURL=MALUsernameModal.css.map */