@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.not-found {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: $spacing-mobile;
    @include page-layout;

    &__title {
        @include h1-style;
    }


    &__img {
        border-radius: $border-radius-medium;
        width: 50vh;
    }
}