@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.synopsis {
    
    &__read-more {
        background-color: $secondary-bg;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}